#superior, #tecnico {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

#superior h2, #tecnico h2 {
    width: 100%;
}

.instituicao {
    background-color: brown;
    color: white;
    padding: 9px;
    width: calc(50% - 10px);
    box-sizing: border-box;
}

.nome-instituicao {
    font-weight: bold;
    font-size: 20pt;
}

.imagem-instituicao {
    height: 200px;
    width: auto;
    margin-right: 15px;
}

.instituicao a {
    color: white;
}