.instituicao {
    background-color: brown;
    color: white;
    padding: 9px;
    width: 50%;
}

.nome-instituicao {
    font-weight: bold;
    font-size: 20pt;
}

.imagem-instituicao {
    height: 200px;
    width: auto;
    margin-right: 15px;
}

.instituicao a {
    color: white;
}

#superior {
}