#sitemap {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
}

#sitemap ul {
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: "Stack Sans Headline", sans-serif;
}

#sitemap a:visited{
    color: rgb(0, 0, 0);
}

#sublista {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 20px;
}

#sublista a{
    color: rgb(47, 43, 43);
}