#pontos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

#pontos-container h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20pt;
}

.ponto {
    background-color: brown;
    color: white;
    padding: 9px;
    width: calc(50% - 10px);
    box-sizing: border-box;
    text-align: center;
}

.nome-ponto {
    font-weight: bold;
    font-size: 20pt;
}

.imagem-ponto {
    width: 500px;
    height: auto;
}

.sobre-ponto {
    margin-top: 10px;
    font-size: 14pt;
    text-align: justify;
}
